.product-info__header {
	display: flex;
	width: 100%;
	height: 80px;
}
.product-info__details {
	display: flex;
	margin: 0 auto;
	max-width: 1500px;
}

.product-info__menu {
	margin-right: 40px;
	margin-left: auto;
}

.product-info__images {
	display: flex;
	flex-wrap: wrap;
	width: 640px;
	gap: 10px;
}

.product-info__info {
	margin: 0 0 0 15px;
	text-align: center;
}

.product-info__largeImg {
	width: 620px;
	height: 825px;
	border-radius: 4px;
}
.product-info__image {
	max-width: 200px;
	border-radius: 4px;
	cursor: pointer;
}

.product-info__image.selected {
	border: 2px solid #494646;
}

.product-info__info__container {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.product-info__info__name {
	margin: 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.product-info__info__button-cart {
	width: 100%;
	background-color: #faf9f8;
	color: #494646;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em;
	cursor: pointer;
	border: 1px solid #494646;
	transition: 0.3s all;
}

.product-info__info__button-cart:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: 0.3s all;
}

.product-info__info__button-cart.added {
	content: 'Открыть корзину';
	background-color: black;
	color: white;
}

.product-info__info__container__description {
	margin: 5px 0 5px 0;
}

.product-info__info__container__price {
	margin: 5px 0 5px 0;
}

.product-info__info__button-cart-added {
	width: 100%;
	background-color: #494646;
	color: #faf9f8;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em;
	border: 1px solid #494646;
	transition: 0.3s all;
}
