.sidebar-cart {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	right: 0;
	z-index: 1;
	display: none;
	top: 0;
	opacity: 0;
	transition: 0.5s;
}

.sidebar-cart.active {
	opacity: 1;
	display: block;
}

.sidebar-cart__content {
	width: 600px;
	height: 100%;
	background-color: #faf9f8;
	position: absolute;
	right: 0;
	z-index: 1;
	transition: 1s;
}
.close-button-cart {
	background: none;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 2px;
	position: absolute;
}

.sidebar-cart__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	margin-right: 5px;
}

.sidebar-cart__image {
	max-width: 150px;
	max-height: 150px;
	border-radius: 8px;
	margin-left: 8px;
}

.sidebar-cart__empty {
	top: 15px;
	left: 5px;
	position: absolute;
}
.sidebar-cart__quantity {
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar-cart__count-arrows {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	cursor: pointer;
}

.sidebar-cart__quantity span {
	background-color: #e2e0e0;
	border-radius: 8px;
	padding: 8px;
}
