.input-container {
	position: relative;
	margin: 35px auto;
	width: 100%;
}

.input-container input[type='text'] {
	font-size: 20px;
	width: 100%;
	border: none;
	border-bottom: 2px solid #ccc;
	padding: 0;
	background-color: transparent;
	outline: none;
}

.input-container input[type='text']:focus ~ .underline,
.input-container input[type='text']:valid ~ .underline {
	transform: scaleX(1);
}
