.menu {
	width: 300px;
	height: 40px;
	border-radius: 12px;
	background-color: #faf9f8;
}

.menu .list {
	display: flex;
}

.menu .list li {
	display: inline-block;
	margin: auto;
}

.menu .list li a {
	display: flex;
	text-decoration: none;
	opacity: 0.7;
	color: black;
}

/* .menu .list li a:hover {
	color: rgb(224, 77, 77);
	opacity: 1;
}
.menu .list li a svg path {
	transition: fill 0.3s ease;
}

.menu .list li a:hover svg path {
	fill: rgb(224, 77, 77);
} */
