.menu {
	display: flex;
	width: 300px;
	justify-content: end;
	align-items: center;
	height: 80px;
	background-color: #faf9f8;
}

.menu .list {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.menu .list li {
	display: inline-block;
	margin-left: 15px;
}

.menu .list li a {
	display: flex;
	text-decoration: none;
	color: black;
}

.login-button {
	display: flex;
	background-color: #faf9f8;
	border: none;
	width: 90px;
	cursor: pointer;
}
.menu .username {
	cursor: pointer;
}

.logout-modal {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #faf9f8;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	padding: 10px;
	border-radius: 4px;
	z-index: 1000;
}

.logout-button {
	background-color: #faf9f8;
	font-size: 16px;
	color: #a0a0a0;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 4px;
	width: 100%;
	text-align: center;
}

.list button {
	background-color: #faf9f8;
	border: none;
	padding: 0;
	cursor: pointer;
}

.logout-button:hover {
	color: #666565;
}

/* .menu .list li a:hover {
	color: rgb(224, 77, 77);
	opacity: 1;
}
.menu .list li a svg path {
	transition: fill 0.3s ease;
}

.menu .list li a:hover svg path {
	fill: rgb(224, 77, 77);
} */
