.edit-product-container.active {
	width: 50%;
	margin-left: auto;
}
.edit-product-container form {
	margin-left: 15px;
}

.edit-product__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #494646;
	border: none;
	font-weight: 600;
	cursor: pointer;
}

.edit-product-svgIcon {
	width: 17px;
	height: 17px;
	transition-duration: 0.3s;
}

.edit-product-svgIcon path {
	fill: #faf9f8;
}

.edit-product__button:hover {
	transition-duration: 0.3s;
	background-color: #494646;
}

.edit-product__button-container {
	display: flex;
	justify-content: space-between;
}

.edit-product-container__loading-button {
	background-color: #faf9f8;
	color: #494646;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em;
	cursor: pointer;
	border: 1px solid #494646;
}

.edit-product-container__loading-button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: all 0.3s;
}

.edit-product__button-container button {
	background-color: #faf9f8;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #494646;
	color: #494646;
	font-size: 17px;
	padding: 1em 2em;
}

.edit-product__button-container button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: all 0.3s;
}

.form-group #price,
.form-group #stock,
.form-group #category {
	width: 100%;
	height: 50px;
	font-size: 20px;
	border: 1px solid #494646;
	border-radius: 5px;
}

.form-group #category {
	cursor: pointer;
}

.edit-product__button:hover .edit-product-svgIcon {
	transition-duration: 0.6s;
	transform: rotate(360deg);
}
