.edit-product-container {
	width: 50%;
}

.edit-button {
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background-color: rgb(20, 20, 20);
	border: none;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
	cursor: pointer;
	transition-duration: 0.3s;
	overflow: hidden;
	position: relative;
	text-decoration: none;
}

.edit-svgIcon {
	width: 17px;
	height: 17px;
	transition-duration: 0.3s;
}

.edit-svgIcon path {
	fill: white;
}

.edit-button:hover {
	width: 120px;
	border-radius: 5px;
	transition-duration: 0.3s;
	background-color: rgb(255, 69, 69);
	align-items: center;
}

.edit-button:hover .edit-svgIcon {
	width: 20px;
	transition-duration: 0.3s;
	transform: translateY(60%);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.edit-product-container .edit-button::before {
	display: none;
	content: 'Редактировать';
	color: white;
	transition-duration: 0.3s;
	font-size: 2px;
}

.edit-button:hover::before {
	display: block;
	padding-right: 10px;
	font-size: 13px;
	opacity: 1;
	transform: translateY(0px);
	transition-duration: 0.3s;
}

.edit-product-container .button-container {
	display: flex;
	justify-content: space-between;
}

.edit-product-container .button-container button {
	background-color: #faf9f8;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 17px;
	padding: 1em 2em;
}

.edit-product-container__loading-button {
	background-color: #faf9f8;
	color: black;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em !important;
	cursor: pointer;
	border: 1px solid black !important;
}
