.edit-product-container.active {
	width: 30%;
	margin-right: 10px;
}
.edit-product-container form {
	margin-left: 15px;
}

.edit-product__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #494646;
	border: none;
	font-weight: 600;
	cursor: pointer;
	margin-right: 10px;
}

.edit-product-svgIcon {
	width: 17px;
	height: 17px;
	transition-duration: 0.3s;
}

.edit-product-svgIcon path {
	fill: #faf9f8;
}

.edit-product__button:hover {
	transition-duration: 0.3s;
	background-color: #494646;
}

.edit-product__button-container,
.edit-product-container__button-container {
	display: flex;
	justify-content: space-between;
}

.edit-product-container__form {
	display: flex;
	justify-self: space-between;
}

.edit-product-container__loading-button,
.edit-product-container__cancel-button {
	background-color: #faf9f8;
	color: #494646;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em;
	cursor: pointer;
	border: 1px solid #494646;
}

.edit-product-container__loading-button:hover,
.edit-product-container__cancel-button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: all 0.3s;
}

.edit-product__button-container button {
	background-color: #faf9f8;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #494646;
	color: #494646;
	font-size: 17px;
	padding: 1em 2em;
}

.edit-product__button-container button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: all 0.3s;
}
.edit-product-container__form-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.edit-product-container__form-group__input label {
	position: relative;
	top: 25px;
	font-size: 20px;
	color: #ccc;
}

.edit-product-container__form-group #price,
.edit-product-container__form-group #stock,
.edit-product-container__form-group #category {
	width: 70%;
	height: 50px;
	font-size: 20px;
	border: 1px solid #494646;
	border-radius: 5px;
	margin: 0 0 10px 0;
}

.edit-product-container__form-group label {
	font-size: 20px;
	color: #ccc;
}
.edit-product-container__form-group #category {
	width: 72%;
}

.form-group #category {
	cursor: pointer;
}

.edit-product__button:hover .edit-product-svgIcon {
	transition-duration: 0.6s;
	transform: rotate(360deg);
}
