.categories-list-container {
	min-width: 1000px;
}

.categories-list-container table {
	width: 100%;
	border-collapse: collapse;
}

.categories-list-container table th,
.categories-list-container table td {
	text-align: center;
}
.categories-list-container table th {
	background-color: #494646;
	padding: 15px 0;
	color: #faf9f8;
}
.categories-list-container table tr {
	position: relative;
	background-color: #f0f0f0;
}

.categories-list-container table tr:hover {
	background-color: #ccc;
	transition: 0.3s all;
}

.categories-list-container table td {
	padding: 15px 0;
}

.categories-list-container table th:first-child {
	border-top-left-radius: 8px;
}
.categories-list-container table th:last-child {
	border-top-right-radius: 8px;
}

.categories-list-container table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}
.categories-list-container table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}

.categories-list-container .delete-button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	gap: 3px;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	overflow: hidden;
}
