html,
body {
	background-color: #faf9f8;
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.tabs {
	display: flex;
	justify-self: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.add-page-header {
	display: flex;
	width: 100%;
	height: 80px;
}

.add-page-header__menu-container {
	margin-right: 40px;
	margin-left: auto;
}

.tabs-radio-inputs {
	display: flex;
	flex-wrap: wrap;
	border-radius: 8px;
	background-color: #faf9f8;
	box-sizing: border-box;
	border: 2px solid #ccc;
	padding: 0.25rem;
	width: 300px;
	font-size: 14px;
}

.tabs-radio-inputs .radio {
	flex: 1 1 auto;
	text-align: center;
}

.tabs-radio-inputs .radio input {
	display: none;
}

.tabs-radio-inputs .radio .name {
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	border: none;
	padding: 0.5rem 0;
	color: rgb(59, 58, 58);
	transition: all 0.15s ease-in-out;
}

.tabs-radio-inputs .radio input:checked + .name {
	background-color: #ccc;
	font-weight: 600;
	color: #faf9f8;
}
.tabs__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	margin: 0 auto;
	min-width: 1300px;
}

.tabs__product-actions {
	display: flex;
	margin: 5px 0 5px 0;
}

.tabs__category-actions {
	display: flex;
	margin: 5px 0 5px 0;
}
