.directory ul,
li {
	list-style: none;
}

.directory .directory__button {
	border: none;
	color: black;
	background-color: #faf9f8;
	cursor: pointer;
	border-radius: 5px;
	transition: 0.3s all;
	margin-bottom: 5px;
}

.directory .directory__button:hover {
	background-color: #ccc;
	transition: 0.3s all;
	color: #faf9f8;
}

.directory .directory__button.active {
	background-color: #ccc;
	color: #faf9f8;
}

.directory__list {
	margin-left: 40px;
	padding: 0px;
}
