.products-list-container {
	min-width: 1300px;
}

.products-list-container table {
	width: 100%;
	border-collapse: collapse;
}

.products-list-container table th,
.products-list-container table td {
	text-align: center;
}
.products-list-container table th {
	background-color: #494646;
	padding: 15px 0;
	color: #faf9f8;
	min-width: 35px;
}
.products-list-container table tr {
	position: relative;
	background-color: #f0f0f0;
}

.products-list-container table tr:hover {
	background-color: #ccc;
	transition: 0.3s all;
}

.products-list-container table td {
	padding: 15px 0;
}

.products-list-container table th:first-child {
	border-top-left-radius: 8px;
}
.products-list-container table th:last-child {
	border-top-right-radius: 8px;
}

.products-list-container table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}
.products-list-container table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}

.products-list-container img {
	max-width: 50px;
	max-height: 50px;
	border-radius: 5px;
}

.products-list-container__actions-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3px;
	padding: 0px;
	overflow: hidden;
}

.products-list-container input[type='file'] {
	display: none;
}

.products-list-container input[type='submit'] {
	display: none;
}

.products-list-container__actions-container button,
.products-list-container__actions-container label,
.products-list-container__modal-overlay__content__close-button {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	overflow: hidden;
}

.products-list-container .actions-container__file-input:hover,
.products-list-container .actions-container__add-discount-button:hover {
	background-color: rgb(136, 197, 100);
	overflow: visible;
}

.products-list-container .actions-container__delete-button:hover {
	background-color: rgb(197, 100, 100);
	overflow: visible;
}

.bin path {
	transition: all 0.2s;
}

.products-list-container button:hover svg path {
	stroke: #fff;
}

.products-list-container .actions-container__file-input:hover svg path {
	stroke: #fff;
}
.products-list-container button:active {
	transform: scale(0.98);
}

input#images-delete {
	display: none;
}

.products-list-container__modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.products-list-container__modal-overlay__content {
	background: #faf9f8;
	padding: 20px;
	border-radius: 8px;
	max-width: 630px;
	width: 100%;
}

.products-list-container__modal-overlay__content__close-button {
	display: block;
	margin-left: auto;
	margin-top: 5px;
}

.products-list-container__modal-overlay__content__input {
	display: flex;
	width: 615px;
	align-items: center;
}

.products-list-container__modal-overlay__content__add-button {
	border-radius: 5px;
	background-color: #faf9f8;
	color: #494646;
	padding: 1em 2em;
	font-size: 17px;
	border: 1px solid #494646;
	cursor: pointer;
	transition: all 0.2s;
	margin-left: 10px;
	width: 250px;
}

.products-list-container__modal-overlay__content__add-button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: all 0.2s;
}
