.products-list-container {
	min-width: 1300px;
	margin: auto;
	border: 2px solid #eee;
	border-radius: 8px;
}

.products-list-container table {
	width: 100%;
	border-collapse: collapse;
}

.products-list-container table th,
.products-list-container table td {
	text-align: center;
}
.products-list-container table th {
	background-color: #494646;
	padding: 15px 0;
	color: #faf9f8;
	min-width: 35px;
}
.products-list-container table tr {
	transition: all 0.3s;
}
.products-list-container table tr:nth-child(even) {
	background: #eee;
}

.products-list-container table td {
	padding: 15px 0;
	color: #494646;
}

.products-list-container table th:first-child {
	border-top-left-radius: 5px;
}
.products-list-container table th:last-child {
	border-top-right-radius: 5px;
}
.products-list-container img {
	max-width: 50px;
	max-height: 50px;
	border-radius: 5px;
}

.actions-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3px;
}

.products-list-container input[type='file'] {
	display: none;
}

.products-list-container label {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	background-color: transparent;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s;
	position: relative;
	overflow: hidden;
}

.products-list-container .actions-container__file-input:hover {
	background-color: rgb(136, 197, 100);
	overflow: visible;
}

.products-list-container .actions-container__delete-label:hover {
	background-color: rgb(197, 100, 100);
	overflow: visible;
}

.bin path {
	transition: all 0.2s;
}
.products-list-container label:hover .bin path {
	stroke: #fff;
}
.products-list-container label:active {
	transform: scale(0.98);
}

input#images-delete {
	display: none;
}
