.edit-category.active {
	width: 50%;
	margin-left: auto;
}
.edit-category__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: #494646;
	border: none;
	font-weight: 600;
	cursor: pointer;
}
.edit-category-svgIcon {
	width: 17px;
	height: 17px;
	transition-duration: 0.3s;
}

.edit-category-svgIcon path {
	fill: #faf9f8;
}

.form-container {
	margin-left: 15px;
}
.form-container button {
	padding: 10px 20px;
	border: none;
	margin-top: 10px;
	border-radius: 5px;
	cursor: pointer;
}

.edit-category-container {
	width: 50%;
}

.edit-category__button-container {
	display: flex;
	justify-content: space-between;
}

.edit-category__button-container button {
	background-color: #faf9f8;
	border-radius: 5px;
	border: 1px solid #494646;
	font-size: 17px;
	padding: 1em 2em;
	transition: 0.3s all;
}

.edit-category__button-container button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: 0.3s all;
}

.edit-category__loading-button {
	background-color: #faf9f8;
	color: black;
	border-radius: 5px;
	font-size: 17px;
	padding: 1em 2em !important;
	cursor: pointer;
	border: 1px solid black !important;
	transition: 0.3s all;
}

.edit-category__loading-button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: 0.3s all;
}

.edit-category__button:hover .edit-category-svgIcon {
	transition-duration: 0.6s;
	transform: rotate(360deg);
}
