.orders-page {
	display: flex;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
}

.orders-page-header {
	display: flex;
	width: 100%;
	height: 100px;
}

.orders-page-header__menu-container {
	margin-right: 40px;
	margin-left: auto;
}

.orders-page__order {
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-bottom: 35px;
}

.orders-page__order__header {
	display: flex;
	margin: 0 0 15px 0;
}

.orders-page__order__header__date {
	background-color: #494646;
	border-radius: 8px;
	color: #faf9f8;
	padding: 5px;
}

.orders-page__order__header__price {
	background-color: #ccc;
	padding: 5px;
	border-radius: 5px;
	color: #faf9f8;
	margin: 0 0 0 15px;
}

.orders-page__order__info {
	display: flex;
}

.orders-page__order__products {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 15px;
	width: 100%;
}

.orders-page__order__products__container {
	display: flex;
	flex-direction: column;
	margin-bottom: auto;
}

.orders-page__order__products__productImage {
	max-width: 250px;
	max-height: 250px;
	margin-right: 15px;
	border-radius: 8px;
}

.orders-page__order__products__container__productName {
	font-size: 20px;
	margin-bottom: 5px;
	color: #8d948e;
}

.orders-page__order__products__container__productQuantity {
	font-size: 18px;
	color: #8d948e;
}

.orders-page__pagination {
	width: 100%;
	margin-top: auto;
}

.orders-page__order__info__review-input {
	margin-left: auto;
}

.orders-page__order__info__review-input textarea {
	display: block;
	margin-left: auto;
	width: 400px;
	height: 60px;
	border-radius: 8px;
	background-color: #faf9f8;
	color: #494646;
	border: 1px solid #494646;
	padding: 5px;
	font-size: 18px;
}

.orders-page__order__info__review-input__button-container {
	display: flex;
	justify-content: space-between;
	margin: 10px 0 0 0;
}
.orders-page__order__info__review-input__button-container__button {
	height: 60px;
	width: 150px;
	border-radius: 8px;
	background-color: #faf9f8;
	color: #494646;
	border: 1px solid #494646;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
}

.orders-page__order__info__review-button {
	margin: auto 0 auto auto;
	height: 60px;
	width: 150px;
	border-radius: 8px;
	background-color: #faf9f8;
	color: #494646;
	border: 1px solid #494646;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
}

.orders-page__order__info__review-button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: 0.3s all;
}

.orders-page__order__info__review-input__button-container__button:hover {
	background-color: #494646;
	color: #faf9f8;
	transition: 0.3s all;
}

.orders-page__order__info__review-input__select {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
}

.orders-page__order__info__review-input__select select {
	border-radius: 8px;
	margin: 0 0 0 5px;
}
